body {
    background-color: black;
}

.title {
    height: 40px;
    margin-top: 40px;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

.name {
    position: fixed;
    left: 60px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 32px;
    color: white;
    font-weight: 400px;
    z-index: 1;
}

.direct {
    position: fixed;
    line-height: 70px;
    letter-spacing: 1.2px;
    width: 330px;
    margin-left: -20px;
    z-index: 1;
}

.direct a {
    display: block;
    color: #aeaeae;
    font-size: 24px;
    font-weight: 400px;
    margin-left: 97px;
    line-height: 80px;
    border-bottom: solid 1px #767676;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
}

#homepage a {
    padding-left: 60px;
}

#cv a {
    padding-left: 96px;
}

#ww a,
#aw a {
    padding-left: 44px
}

#ww a {
    color: white
}

.direct a:hover {
    color: #ffffff;
    border-radius: 5px;
    text-decoration: none;
}

footer {
    position: fixed;
    bottom: 20px;
    left: 80px;
    color: #aeaeae;
    padding-bottom: 20px;
}

.text {
    margin-left: 520px;
    margin-top: -20px
}

.heading {
    margin-left: 70px;
    text-align: middle;
    color: white;
    font-size: 26px;
    line-height: 60px;
    letter-spacing: 1px;
    width: 870px;
}

.work1 img {
    position: absolute;
    left: 520px;
    top: 200px;
    width: 200px;
    height: 200px;
}

.work2 img {
    position: absolute;
    left: 820px;
    top: 200px;
    width: 200px;
    height: 200px;
}

.work3 img {
    position: absolute;
    left: 1120px;
    top: 200px;
    width: 200px;
    height: 200px;
}

.main-content {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: left;
    margin-left: -10px;
    margin-top: 230px;
    line-height: 32px;
    padding-top: 50px;
    width: 800px;
    color: #aeaeae;
    letter-spacing: 0.8px;
}

.translation {
    width: 800px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    font-style: italic;
    text-align: right;
    margin-top: -10px;
    line-height: 24px;
    padding-top: 20px;
    color: #999999;
    letter-spacing: 0.8px;
    padding-bottom: 50px;
}